{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<body>
<div class="w3-right"><a href="{% url 'indexexamples' %}"><small>Index of Examples</small></a></div>
<div class="w3-container w3-center">
    <a class="w3-btn w3-ripple w3-blue"
       href="{% url 'logout' %}">Logout & Leave</a>
</div>
<div class="w3-container w3-white">
    <div id="toemoji" class="w3-container w3-margin-bottom">
        <div class="w3-padding">
            <h3><img src="{% static 'emojismile.png' %}"
                 class="icon">&nbsp;Turn it to emoji's</h3>
            <form>
                {{ form.toemoji_movie }}
                <button type="submit"
                        hx-get="{% url 'toemoji' %}"
                        hx-include="[name='toemoji_movie']"
                        hx-target="#emojiresponse">&nbsp;=>&nbsp;Get Movie&nbsp;<img class="htmx-indicator w3-circle"
                                                      src="{% static 'process.gif' %}"
                                                      style="width: 24px">
                </button>
            </form>
            <div id="emojiresponse"></div><br>
        </div>
    </div>
    <div id="studypoints" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'studypoints.png' %}"
                 class="icon">&nbsp;What to study?</h3>
            <form>
                {{ form.studypoints }}
                <button type="submit"
                        data-hx-get="{% url 'studypoints' %}"
                        data-hx-include="[name='studypoints']"
                        data-hx-target="#studythese">&nbsp;=>&nbsp;Get points&nbsp;<img class="htmx-indicator w3-circle"
                                                      src="{% static 'process.gif' %}"
                                                      style="width: 24px">
                </button>
            </form>
            <div id="studythese" style="width: auto"></div><br>
        </div>
    </div>
</div>
<div class="w3-container w3-green">
    <div id="cats" class="w3-container">
        <div class="w3-padding" >
            <h3><img src="{% static 'cat.png' %}"
                     class="icon">&nbsp;Name your Pet</h3>
            <form data-hx-get="{% url 'animals' %}"
                  data-hx-include="[name='animal']"
                  data-hx-target="#result">
                <input type="text"
                       id="name"
                       name="animal"
                       onfocus="this.value=''"
                       placeholder="beautiful lazy dog..">
                <p class="w3-small">Characterize your pet or something else ('beautiful lazy dog', 'curious programmer')</p>
                <button type="submit"
                        class="w3-margin-top"
                        value="1. Generate names">1. Generate names</button>
            </form>
            <form>
                <button type="submit" id="haekissakuva" class="w3-margin-top"
                        data-hx-get="{% url 'getimage' %}"
                        data-hx-include="[name='animal']"
                        data-hx-target="#kuva">2. Get picture&nbsp;<img class="htmx-indicator w3-circle"
                                                                   src="{% static 'process.gif' %}"
                                                                   style="width: 24px"></button>
                <p class="w3-small"> Neat & Hidden: Get just any image by asking for it and clicking button #2.</p>

            </form>
            <div id="result" class="w3-margin-top"></div>
            <div id="kuva"></div><br>
        </div>
    </div>
    <div id="books" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'books.png' %}"
                 class="icon">&nbsp;About books</h3>
            <div>
                <form>
                    {{ form.author }}
                    {{ form.book }}
                    <button type="submit"
                            hx-get="{% url 'kirjallisuus' %}"
                            hx-include="[name='author'], [name='book']"
                            hx-target="#aboutthebook">Lets go Bookworm&nbsp;<img class="htmx-indicator w3-circle"
                                                                             src="{% static 'books.gif' %}"
                                                                             style="width: 24px"></button>
                </form>
            </div>
            <div id="aboutthebook"></div><br>
        </div>
    </div>
    <div id="stars" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'stars.png' %}"
                 class="icon">&nbsp;Ask about stars</h3>
            <div>
                <form>
                    {{ form.stars }}
                    <button type="submit"
                            class="w3-margin-top"
                            hx-get="{% url 'stars' %}"
                            hx-include="[name='stars']"
                            hx-target="#fromstars">Send AI to stars&nbsp;<img class="htmx-indicator w3-circle"
                                                                              src="{% static 'process.gif' %}"
                                                                              style="width: 24px"></button>
                </form>
            </div>
            <div id="fromstars"></div><br>
        </div>
    </div>
    <div id="askanything" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'anything.jpg' %}"
                 class="icon">&nbsp;Ask me anything</h3>
            <div>
                <p class="w3-small"><b>Some food for creativity:</b></p>
                <p class="w3-small">In which European countries should I first launch my vegan protein bars?</p>
                <p class="w3-small">Write me a resignation letter to my boss at IBM</p>
                <p class="w3-small">Explore the possibility there existed an advanced pre-Ice Age civilization</p>
                <form>
                    {{ form.askanything }}
                    <button type="submit"
                            class="w3-margin-top"
                            hx-get="{% url 'askanything' %}"
                            hx-include="[name='askanything']"
                            hx-target="#answerhere">Send your question&nbsp;<img class="htmx-indicator w3-circle"
                                                                              src="{% static 'process.gif' %}"
                                                                              style="width: 24px"></button>
                </form>
            </div>
            <div id="answerhere"></div><br>
        </div>
    </div>
</div>
<div class="w3-container w3-yellow">
    <div id="artquestion" class="w3-container">
        <div class="w3-padding" >
            <h3><img src="{% static 'colosseum.png' %}"
                 class="icon">&nbsp;Ask about Art</h3>
            <div>
                <form>
                    {{ form.artquestion }}
                    {{ form.artstyle }}
                    <button type="submit"
                            class="w3-margin-top"
                            hx-get="{% url 'artquestion' %}"
                            hx-include="[name='artquestion'], [name='artstyle']"
                            hx-target="#artanswer">Send&nbsp;<img class="htmx-indicator w3-circle"
                                                                src="{% static 'spinner.gif' %}"
                                                                style="width: 24px"></button>
                </form>
            </div>
            <div id="artanswer"></div>
            <div>
                <form hx-get="{% url 'tyylitaulu' %}"
                      hx-include="[name='artanswer']"
                      hx-target="#newpainting">
                    <button type="submit"
                            class="w3-margin-top w3-center">Get it DALLE2 styled&nbsp;<img class="htmx-indicator w3-circle"
                                                                                           src="{% static 'process.gif' %}"
                                                                                           style="width: 24px"></button>
                </form>
            </div>
            <div id="newpainting" class="w3-margin"></div><br>
        </div>
    </div>
    <div id="codepython" class="w3-container">
        <div class="w3-padding" >
            <h3><img src="{% static 'computer.png' %}"
                 class="icon">&nbsp;Code something, well, anything..</h3>
            <div>
                <form>
                    {{ form.codepython }}
                    <button type="submit"
                            class="w3-margin-top"
                            hx-get="{% url 'codepython' %}"
                            hx-include="[name='codepython']"
                            hx-target="#fromcodingmachine">Get the Code&nbsp;<img class="htmx-indicator w3-circle"
                                                                                  src="{% static 'spinner.gif' %}"
                                                                                  style="width: 24px"></button>
                </form>
            </div>
            <div id="fromcodingmachine"></div><br>
        </div>
    </div>
    <div id="askbuffet" class="w3-container">
        <div class="w3-padding" >
            <h3><img src="{% static 'finance.png' %}"
                 class="icon">&nbsp;Ask Warren Buffet</h3>
            <div>
            <p class="w3-small">(Financial Analysis on any HEX 25 company considering cutoff year 2021)</p>
            <div>
                <form>
                    {{ form.askbuffet }}
                    <button type="submit"
                            class="w3-margin-top"
                            hx-get="{% url 'askbuffet' %}"
                            hx-include="[name='askbuffet']"
                            hx-target="#warrensreply">&nbsp;Send your Q&nbsp;<img class="htmx-indicator w3-circle"
                                                                                  src="{% static 'spinner.gif' %}"
                                                                                  style="width: 36px"></button>
                </form>
            </div>
            <div id="warrensreply" class="w3-padding"></div><br>
        </div>
    </div>
</div>
    <div id="schufflecards" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'deck.png' %}"
                     class="icon">&nbsp;Deck of Cards</h3>
            <p class="w3-small">(AI's not perfect)</p>
            <div id="cards" class="w3-padding"></div>
            <div>
                <form>
                    <button type="submit"
                            class="w3-margin-top"
                            hx-get="{% url 'schufflecards' %}"
                            hx-target="#cards">&nbsp;Schuffle&nbsp;<img class="htmx-indicator w3-circle"
                                                                        src="{% static 'spinner.gif' %}"
                                                                        style="width: 36px"></button>
                </form>
            </div><br>
        </div>
    </div>
</div>
<div class="w3-container w3-red">
    <div id="turbomode" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'chat.png' %}"
                 class="icon">&nbsp;Chat in Turbo mode</h3>
            <div id="fromturbo"></div>
            <div>
                <form>
                    {{ form.turbomode }}
                    <div class="w3-row">
                        <div class="w3-col s6">
                            <input type="radio" id="ai" name="stylemode" value="ai" checked>
                            <label for="ai" title="Just basic AI, heh">AI&nbsp;</label>
                        </div>
                        <div class="w3-col s6">
                        <input type="radio" id="albert" name="stylemode" value="albert" >
                        <label for="albert" title="Yes, Einstein is my surname">Albert</label>
                      </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col s6">
                        <input type="radio" id="emilia" name="stylemode" value="emilia" >
                        <label for="emilia" title="You know I was the first female to fly solo across Atlantic">Emilia&nbsp;</label>
                      </div>
                        <div class="w3-col s6">
                            <input type="radio" id="jack" name="stylemode" value="jack" >
                            <label for="jack" title="but why's the Rhum gone?">Jack&nbsp;</label>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col s6">
                            <input type="radio" id="marv" name="stylemode" value="marv" >
                            <label for="marv" title="bother me with your boring questions">Marv&nbsp;</label>
                        </div>
                        <div class="w3-col s6">
                            <input type="radio" id="socrates" name="stylemode" value="socrates" >
                            <label for="socrates" title="I will always answer with a question">Socrates</label>
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col s6">
                            <input type="radio" id="marv" name="stylemode" value="drunken" >
                            <label for="drunken" title="AM heer to jooiy --burp-">Bottle Jim&nbsp;</label>
                        </div>
                        <div class="w3-col s6">
                            <input type="radio" id="marv" name="stylemode" value="zlatan" >
                            <label for="zlatan" title="You are the best and you know it">Zlatan&nbsp;</label>
                        </div>
                    </div>
                    <button type="submit"
                            class="w3-margin-top"
                            hx-get="{% url 'turbomode' %}"
                            hx-include="[name='turbomode'], [name='stylemode']"
                            hx-target="#fromturbo">Go Turbomode!&nbsp;<img class="htmx-indicator w3-circle"
                                                                           src="{% static 'spinner.gif' %}"
                                                                           style="width: 24px"></button>
                </form>
            </div>
            <div id="flush">
                <div>
                    <button type="submit"
                            class="w3-margin-top"
                            hx-get="{% url 'flushchat' %}">&nbsp;Save & flush chat&nbsp;☐&nbsp;</button>
                </div>
                <div>
                    <button type="submit"
                        class="w3-margin-top"
                        hx-get="{% url 'chatstories' %}"
                        hx-target="#storieslist">&nbsp;Read stories&nbsp;</button>
                </div>
            </div>
            <div id="storieslist"></div>
            <div id="coolimage"></div><br>
        </div>
    </div>
    <div id="storycubesstory" class="w3-container">
        <div class="w3-padding" >
            <img src="{% static 'storycubes.png' %}" style="width: 300px"><h3>&nbsp;Play StoryCubes</h3>
            <div>
                <form>
                    <textarea id="roll" name="roll" cols="36"></textarea>
                    <button type="submit"
                            class="w3-margin-top w3-margin-bottom"
                            hx-get="{% url 'rolldicies' %}"
                            hx-target="#roll">Roll StoryCubes</button>
                    <div class="w3-row">
                      <div class="w3-col s6">
                        <input type="radio" id="rb_1" name="storystyle" value="Neutral" checked>
                        <label for="rb_1">Neutral</label>
                      </div>
                      <div class="w3-col s6">
                        <input type="radio" id="rb_2" name="storystyle" value="Bedtime">
                        <label for="rb_2">Bedtime</label>
                      </div>
                    </div>
                    <div class="w3-row">
                      <div class="w3-col s6">
                        <input type="radio" id="rb_3" name="storystyle" value="Scientific">
                        <label for="rb_3">Scientific</label>
                      </div>
                      <div class="w3-col s6">
                        <input type="radio" id="rb_4" name="storystyle" value="Holiday">
                        <label for="rb_4">Holiday</label>
                      </div>
                    </div>
                    <div class="w3-row">
                      <div class="w3-col s6">
                        <input type="radio" id="rb_5" name="storystyle" value="Workaholic">
                        <label for="rb_5">Workaholic</label>
                      </div>
                      <div class="w3-col s6">
                        <input type="radio" id="rb_6" name="storystyle" value="Fantasy">
                        <label for="rb_6">Fantasy</label>
                      </div>
                    </div>
                    <button type="submit"
                            class="w3-margin-top"
                            hx-get="{% url 'storycubesstory' %}"
                            hx-include="[name='roll'], [name='storystyle']"
                            hx-target="#fromstorycubes">&nbsp;1. Get Story&nbsp;<img class="htmx-indicator w3-circle"
                                                                                     src="{% static 'luke.gif' %}"
                                                                                     style="width: 36px"></button>
                    <p class="w3-small">This is a bit heavy. Can take 2 min. to complite</p>
                    <button type="submit"
                            class="w3-margin-top"
                            hx-get="{% url 'storycubesimage' %}"
                            hx-include="[name='readme'], [name='storystyle']"
                            hx-target="#storycubekuva">&nbsp;2. Get image&nbsp;<img class="htmx-indicator w3-circle"
                                                                                    src="{% static 'luke.gif' %}"
                                                                                    style="width: 36px"></button>
                </form>
                <div class="w3-margin-top" id="fromstorycubes"></div>
                <div class=w3-margin id="storycubekuva"></div><br>
            </div>
        </div>
    </div>
    <div id="prompter" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'process.gif' %}"
                 class="icon">&nbsp;Prompter is coming..</h3>
            <p>You will be able to use any Prompt from chatGPT's dynamic always changing "Latest"-list</p>
            <p>With your own responsibility that is..</p>
            <div id="fromprompter"></div><br>
        </div>
    </div>
</div>
<div class="w3-container w3-purple">
    <div id="getscience" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'science.png' %}"
                 class="icon">&nbsp;Get Science papers</h3>
                <p><small>(like 'sustainability in it-business')</small></p>
            <form>
                {{ form.getscience }}
                <button type="submit"
                        hx-get="{% url 'getscience' %}"
                        hx-include="[name='getscience']"
                        hx-target="#sciencerefs">&nbsp;=>&nbsp;Get papers&nbsp;<img class="htmx-indicator w3-circle"
                                                      src="{% static 'books.gif' %}"
                                                      style="width: 24px">
                </button>
            </form>
            <div id="sciencerefs"></div><br>
        </div>
    </div>
    <div id="justdraw" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'asciidog.png' %}"
                 class="icon">&nbsp;AI can draw ascii</h3>
            <form>
                {{ form.justdraw }}
                <button type="submit"
                        hx-get="{% url 'justdraw' %}"
                        hx-include="[name='justdraw']"
                        hx-target="#asciiart">&nbsp;=>&nbsp;ASCII&nbsp;<img class="htmx-indicator w3-circle"
                                                      src="{% static 'process.gif' %}"
                                                      style="width: 24px">
                </button>
            </form>
            <div id="asciiart"></div><br>
        </div>
    </div>
    <div id="comparedocs" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'compare.png' %}"
                 class="icon">&nbsp;Compare two documents</h3>
            <form>
                {{ form.comparedocsone }}
                {{ form.comparedocstwo }}
                <button class="w3-margin-top" type="submit"
                        hx-get="{% url 'comparedocs' %}"
                        hx-include="[name='comparedocsone'], [name='comparedocstwo']"
                        hx-target="#docanalysis">&nbsp;=>&nbsp;Compare&nbsp;<img class="htmx-indicator w3-circle"
                                                      src="{% static 'process.gif' %}"
                                                      style="width: 24px">
                </button>
            </form>
            <div id="docanalysis"></div><br>
        </div>
    </div>
    <div id="whatsup" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'whatsup.png' %}"
                 class="icon">&nbsp;Latest news. You're welcome</h3>
            <form>
                {{ form.whatsup }}
                <button class="w3-margin-top" type="submit"
                        hx-get="{% url 'whatsup' %}"
                        hx-include="[name='whatsup']"
                        hx-target="#yourwelcome">&nbsp;=>&nbsp;Get Today's&nbsp;<img class="htmx-indicator w3-circle"
                                                      src="{% static 'process.gif' %}"
                                                      style="width: 24px">
                </button>
            </form>
            <div id="yourwelcome"><pre></pre></div><br>
        </div>
    </div>
</div>
<div class="w3-container w3-gray">
     <div id="analysedoc" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'compare.png' %}"
                 class="icon">&nbsp;Analyse doc in the web</h3>
            <form>
                {{ form.analysedoc }}
                <p class="w3-small">Consider passing docs that are no more than 10 pgs. chatGPT restriction.</p>
                <button class="w3-margin-top" type="submit"
                        hx-get="{% url 'analysedoc' %}"
                        hx-include="[name='analysedoc']"
                        hx-target="#analysis">&nbsp;=>&nbsp;Make analysis&nbsp;<img class="htmx-indicator w3-circle"
                                                      src="{% static 'process.gif' %}"
                                                      style="width: 24px">
                </button>
            </form>
            <div id="analysis"></div><br>
        </div>
    </div>
     <div id="summarizetext" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'summary.png' %}"
                 class="icon">&nbsp;Say it short</h3>
            <form>
                {{ form.summarizetext }}
                <p class="w3-small">Consider text that are no more than 10 pgs. chatGPT restriction.</p>
                <button class="w3-margin-top" type="submit"
                        hx-get="{% url 'summarizetext' %}"
                        hx-include="[name='summarizetext']"
                        hx-target="#summary">&nbsp;=>&nbsp;Make summary&nbsp;<img class="htmx-indicator w3-circle"
                                                      src="{% static 'process.gif' %}"
                                                      style="width: 24px">
                </button>
            </form>
            <div id="summary"></div><br>
        </div>
    </div>
     <div id="imageanaysis" class="w3-container w3-margin-bottom">
        <div class="w3-padding" >
            <h3><img src="{% static 'robotpainting.png' %}"
                 class="icon">&nbsp;I, AI can see</h3>
            <form>
                {{ form.imageanaysis }}
                <p class="w3-small">No need to think, AI can tell you. Still bit hallucinating</p>
                <button class="w3-margin-top" type="submit"
                        hx-get="{% url 'imageanaysis' %}"
                        hx-include="[name='imageanaysis']"
                        hx-target="#aboutimage">&nbsp;=>&nbsp;Make summary&nbsp;<img class="htmx-indicator w3-circle"
                                                      src="{% static 'process.gif' %}"
                                                      style="width: 24px">
                </button>
            </form>
            <div id="aboutimage"></div><br>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        $('#name').focus();
    });
</script>
{% endblock %}